.courses-container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 10px;
  margin: 20px 0;
}

.course-thumb {
  width: 100%;
  height: 200px;
}

.course-details-container {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 10px;
  margin: 20px 0;
}

@media only screen and (max-width: 768px) {
  .course-details-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
}
