.courses-container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.course-thumb {
  width: 100%;
  height: 200px;
}

.course-details-container {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 10px;
  margin: 20px 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.activeRoute {
  border-bottom: 2px solid white;
  opacity: 0.9;
}

.activeCourse {
  border-bottom: 2px solid pink;
}

#dark {
  background-color: black;
}

#light {
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  .course-details-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .courses-container {
    display: flex;
    flex-direction: column;
  }
}
